<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Sign In</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>

    <div class="grad">
        <div class="background_gradient" id="back_grad_1"></div>
        <div class="background_gradient" id="back_grad_2"></div>
    </div>

    <section>
        <div class="box">
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>

            <div class="container">
                <div class="form">
                    <h2>Login Form</h2>
                    <div th:if="${param.error}" class="invalid">
                        Invalid username and password.
                    </div>
                    <div th:if="${param.logout}" class="invalid">
                        You have been logged out.
                    </div>
                    <form th:action="@{/login}" method="post" id="form">
                        <div class="input_box">
                            <input type="text" placeholder="username" name="username">
                        </div>
                        <div class="input_box">
                            <input type="password" placeholder="password" name="password">
                        </div>
                        <div class="input_box">
                            <input type="submit" value="Sign In" name="button">
                        </div>
                        <p class="forget">
                            <a href="#">Forgot your password?</a>
                        </p>
                        <p class="forget">
                            <a href="#">Don't have an account?</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>

</body>
</html>